<h2>Totale Foto favorite = {{likes}}</h2>
<div class="d-flex flex-wrap justify-content-center">
    <div class="m-1" *ngFor="let item of items">
        <div class="card" style="width: 18rem;">
            <img src="{{item.thumbnailUrl}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{item.title}}</h5>
                <div class="d-flex justify-content-evenly mt-3">
                    <a class="btn btn-danger" (click)="elimina(item.id)">Elimina</a>
                    <a class="btn btn-success" (click)="like()">Mi piace</a>
                </div>
            </div>
        </div>
    </div>
</div>
